<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.BAS_DeliverystandardMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.BAS_Deliverystandard">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MINWEIGHT" jdbcType="DECIMAL" property="minweight" />
    <result column="MAXWEIGHT" jdbcType="DECIMAL" property="maxweight" />
    <result column="INVALIDATEMARK" jdbcType="DECIMAL" property="invalidatemark" />
    <result column="OPERATORID" jdbcType="DECIMAL" property="operatorid" />
    <result column="OPERATIONUNITID" jdbcType="DECIMAL" property="operationunitid" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, MINWEIGHT, MAXWEIGHT, InvalidateMark,OPERATORID, OPERATIONUNITID, OPERATIONTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BOS.BAS_DELIVERYSTANDARD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="findAllBASDELIVERYSTANDARD"  resultType="java.lang.Integer">
    select count(*) from (select rownum rn, b.*,s.id as eid,s.empname as empname,u.id as aid,u.name as wlname from BAS_Deliverystandard b
    inner join SY_EMP s on b.operatorid=s.id
    inner join SY_UNITS u on b.operationunitid=u.id
    <where>
      <if test="name != null and name!=''">
        and b.NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="invalidatemark!=null and invalidatemark!=''">
        and InvalidateMark=#{invalidatemark,jdbcType=DECIMAL}
      </if>
      <if test="minweight != null and minweight!=''">
        and MINWEIGHT = #{minweight,jdbcType=DECIMAL}
      </if>
      <if test="maxweight != null and maxweight!=''">
        and  MAXWEIGHT = #{maxweight,jdbcType=DECIMAL}
      </if>

      <if test="baempname !=null and baempname!=''">
        and   EMPNAME=#{baempname,jdbcType=VARCHAR}
      </if>
    </where>
    )
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.BAS_DELIVERYSTANDARD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.model.BAS_Deliverystandard">
    insert into BOS.BAS_DELIVERYSTANDARD (ID, NAME, MINWEIGHT, 
      MAXWEIGHT,INVALIDATEMARK, OPERATORID, OPERATIONUNITID,
      OPERATIONTIME)
    values (deliver_id.nextval, #{name,jdbcType=VARCHAR}, #{minweight,jdbcType=DECIMAL},
      #{maxweight,jdbcType=DECIMAL},#{invalidatemark,jdbcType=DECIMAL}, #{operatorid,jdbcType=DECIMAL}, #{operationunitid,jdbcType=DECIMAL},
     sysdate)
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.BAS_Deliverystandard">
    insert into BOS.BAS_DELIVERYSTANDARD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="minweight != null">
        MINWEIGHT,
      </if>
      <if test="maxweight != null">
        MAXWEIGHT,
      </if>
      <if test="invalidatemark !=null" >
      invalidatemark
      </if>
      <if test="operatorid != null">
        OPERATORID,
      </if>
      <if test="operationunitid != null">
        OPERATIONUNITID,
      </if>
      <if test="operationtime != null">
        OPERATIONTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="minweight != null">
        #{minweight,jdbcType=DECIMAL},
      </if>
      <if test="maxweight != null">
        #{maxweight,jdbcType=DECIMAL},
      </if>
      <if test="invalidatemark != null">
        #{invalidatemark,jdbcType=DECIMAL},
      </if>

      <if test="operatorid != null">
        #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationunitid != null">
        #{operationunitid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        #{operationtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.BAS_Deliverystandard">
    update BAS_DELIVERYSTANDARD
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="minweight != null">
        MINWEIGHT = #{minweight,jdbcType=DECIMAL},
      </if>
      <if test="invalidatemark != null">
        INVALIDATEMARK = #{invalidatemark,jdbcType=DECIMAL},
      </if>
      <if test="maxweight != null">
        MAXWEIGHT = #{maxweight,jdbcType=DECIMAL},
      </if>
      <if test="operatorid != null">
        OPERATORID = #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationunitid != null">
        OPERATIONUNITID = #{operationunitid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.BAS_Deliverystandard">
    update BOS.BAS_DELIVERYSTANDARD
    set NAME = #{name,jdbcType=VARCHAR},
      MINWEIGHT = #{minweight,jdbcType=DECIMAL},
      MAXWEIGHT = #{maxweight,jdbcType=DECIMAL},
      OPERATORID = #{operatorid,jdbcType=DECIMAL},
      OPERATIONUNITID = #{operationunitid,jdbcType=DECIMAL},
      OPERATIONTIME =sysdate
    where ID = #{id,jdbcType=DECIMAL}
  </update>



  <!--自定义返回类型-->
  <resultMap id="BAS_DeliverystandardAndSY_EMP" type="BAS_Deliverystandard">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MINWEIGHT" jdbcType="DECIMAL" property="minweight" />
    <result column="MAXWEIGHT" jdbcType="DECIMAL" property="maxweight" />
    <result column="InvalidateMark" jdbcType="DECIMAL" property="invalidatemark" />
    <result column="OPERATORID" jdbcType="DECIMAL" property="operatorid" />
    <result column="OPERATIONUNITID" jdbcType="DECIMAL" property="operationunitid" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />
    <association property="sy_emp" javaType="SY_Emp">
      <id column="EID" jdbcType="DECIMAL" property="id" />
      <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    </association>

    <association property="sy_units" javaType="SY_UNITS">
      <id column="ID" jdbcType="DECIMAL" property="id" />
      <result column="WLNAME" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>

  <!--查询收派标准-->
  <select id="findAllBASDeliverystandardAndSY_EMP" resultMap="BAS_DeliverystandardAndSY_EMP">
   select * from (select rownum rn, b.*,s.id as eid,s.empname as empname,u.id as aid,u.name as wlname from BAS_Deliverystandard b
    inner join SY_EMP s on b.operatorid=s.id
    inner join SY_UNITS u on b.operationunitid=u.id) where rn between #{page} and #{rows}
  </select>

  <!--自定义返回类型-->
  <resultMap id="BAS_DeliverystandardAndSY_EMPKEY" type="BAS_Deliverystandard">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MINWEIGHT" jdbcType="DECIMAL" property="minweight" />
    <result column="MAXWEIGHT" jdbcType="DECIMAL" property="maxweight" />
    <result column="InvalidateMark" jdbcType="DECIMAL" property="invalidatemark" />
    <result column="OPERATORID" jdbcType="DECIMAL" property="operatorid" />
    <result column="OPERATIONUNITID" jdbcType="DECIMAL" property="operationunitid" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />
    <association property="sy_emp" javaType="SY_Emp">
      <id column="EID" jdbcType="DECIMAL" property="id" />
      <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    </association>

    <association property="sy_units" javaType="SY_UNITS">
      <id column="ID" jdbcType="DECIMAL" property="id" />
      <result column="WLNAME" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>


  <select id="findAllBASDeliverystandardAndSY_EMPKEY" parameterType="Object" resultMap="BAS_DeliverystandardAndSY_EMPKEY">
   select * from (select rownum rn, b.*,s.id as eid,s.empname as empname,u.id as aid,u.name as wlname from BAS_Deliverystandard b
    inner join SY_EMP s on b.operatorid=s.id
    inner join SY_UNITS u on b.operationunitid=u.id
    <where>
      <if test="name != null and name!=''">
        and b.NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="invalidatemark!=null and invalidatemark!=''">
        and InvalidateMark=#{invalidatemark,jdbcType=DECIMAL}
      </if>
      <if test="minweight != null and minweight!=''">
        and MINWEIGHT = #{minweight,jdbcType=DECIMAL}
      </if>
      <if test="maxweight != null and maxweight!=''">
        and  MAXWEIGHT = #{maxweight,jdbcType=DECIMAL}
      </if>

      <if test="baempname !=null and baempname!=''">
        and   EMPNAME=#{baempname,jdbcType=VARCHAR}
      </if>
    </where>
    ) where rn between #{page} and #{rows}
  </select>


</mapper>