<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.BAS_BasicarchivesMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.BAS_Basicarchives">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="GRADE" jdbcType="DECIMAL" property="grade" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="OPERATORID" jdbcType="DECIMAL" property="operatorid" />
    <result column="OPERATIONUNITID" jdbcType="DECIMAL" property="operationunitid" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, GRADE, REMARKS, OPERATORID, OPERATIONUNITID, OPERATIONTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BOS.BAS_BASICARCHIVES
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.BAS_BASICARCHIVES
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.model.BAS_Basicarchives">
    insert into BOS.BAS_BASICARCHIVES (ID, NAME, GRADE, 
      REMARKS, OPERATORID, OPERATIONUNITID, 
      OPERATIONTIME)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{grade,jdbcType=DECIMAL}, 
      #{remarks,jdbcType=VARCHAR}, #{operatorid,jdbcType=DECIMAL}, #{operationunitid,jdbcType=DECIMAL}, 
      #{operationtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.BAS_Basicarchives">
    insert into BOS.BAS_BASICARCHIVES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="grade != null">
        GRADE,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="operatorid != null">
        OPERATORID,
      </if>
      <if test="operationunitid != null">
        OPERATIONUNITID,
      </if>
      <if test="operationtime != null">
        OPERATIONTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationunitid != null">
        #{operationunitid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        #{operationtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.BAS_Basicarchives">
    update BOS.BAS_BASICARCHIVES
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        GRADE = #{grade,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        OPERATORID = #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationunitid != null">
        OPERATIONUNITID = #{operationunitid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.BAS_Basicarchives">
    update BOS.BAS_BASICARCHIVES
    set NAME = #{name,jdbcType=VARCHAR},
      GRADE = #{grade,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      OPERATORID = #{operatorid,jdbcType=DECIMAL},
      OPERATIONUNITID = #{operationunitid,jdbcType=DECIMAL},
      OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <resultMap id="BAS_BasicarchivesAndSY_EmpAndSY_Units" type="BAS_Basicarchives">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="GRADE" jdbcType="DECIMAL" property="grade" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />

    <association property="sy_emp" javaType="SY_Emp">
      <id column="EID" jdbcType="DECIMAL" property="id" />
      <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    </association>

    <association property="sy_units" javaType="SY_UNITS">
      <id column="IDU" jdbcType="DECIMAL" property="id" />
      <result column="UNAME" jdbcType="VARCHAR" property="name" />
    </association>


    <association property="bas_basicarchivesentry" javaType="BAS_Basicarchivesentry">
      <id column="ID" jdbcType="DECIMAL" property="id" />
      <result column="PARENTID" jdbcType="DECIMAL" property="parentid" />

    </association>
  </resultMap>

  <select id="findBAS_BasicarchivesAndSY_EmpAndSY_Units" resultMap="BAS_BasicarchivesAndSY_EmpAndSY_Units" parameterType="Object">
   select * from
(select rownum rn,b.*,y.parentid,e.empname,u.name as uname,u.id as idu,y.id as yid from bas_basicarchives b
inner join sy_emp e on b.operatorid=e.id
inner join sy_units u on b.operationunitid=u.id
inner join bas_basicarchivesentry y on b.id=y.parentid)
where rn between #{page} and #{rows}

  </select>

  <resultMap id="BAS_BasicarchivesAndSY_EmpAndSY_Units1" type="BAS_Basicarchives">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="GRADE" jdbcType="DECIMAL" property="grade" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />

    <association property="sy_emp" javaType="SY_Emp">
      <id column="EID" jdbcType="DECIMAL" property="id" />
      <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    </association>

    <association property="sy_units" javaType="SY_UNITS">
      <id column="IDU" jdbcType="DECIMAL" property="id" />
      <result column="UNAME" jdbcType="VARCHAR" property="name" />
    </association>


    <association property="bas_basicarchivesentry" javaType="BAS_Basicarchivesentry">
      <id column="ID" jdbcType="DECIMAL" property="id" />
      <result column="PARENTID" jdbcType="DECIMAL" property="parentid" />

    </association>
  </resultMap>
  <select id="findfindBASBasicarchivesAndSYEmpAndSYUnitsKey" resultMap="BAS_BasicarchivesAndSY_EmpAndSY_Units1">

    select * from
    (select rownum rn,b.*,y.parentid,e.empname,u.name as uname,u.id as idu,y.id as yid from bas_basicarchives b
    inner join sy_emp e on b.operatorid=e.id
    inner join sy_units u on b.operationunitid=u.id
    inner join bas_basicarchivesentry y on b.id=y.parentid
    <where>

      <if test="ename != null">
        AND  b.NAME = #{ename,jdbcType=DECIMAL}
      </if>

    </where>
    )
    where rn between #{page} and #{rows}



  </select>

</mapper>