<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.BAS_BasicarchivesentryMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.BAS_Basicarchivesentry">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PARENTID" jdbcType="DECIMAL" property="parentid" />
    <result column="MNEMONICCODE" jdbcType="VARCHAR" property="mnemoniccode" />
    <result column="AVAILABLE" jdbcType="DECIMAL" property="available" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="OPERATORID" jdbcType="DECIMAL" property="operatorid" />
    <result column="OPERATIONUNITID" jdbcType="DECIMAL" property="operationunitid" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, PARENTID, MNEMONICCODE, AVAILABLE, REMARKS, OPERATORID, OPERATIONUNITID, 
    OPERATIONTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BOS.BAS_BASICARCHIVESENTRY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.BAS_BASICARCHIVESENTRY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.model.BAS_Basicarchivesentry">
    insert into BOS.BAS_BASICARCHIVESENTRY (ID, NAME, PARENTID, 
      MNEMONICCODE, AVAILABLE, REMARKS, 
      OPERATORID, OPERATIONUNITID, OPERATIONTIME
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=DECIMAL}, 
      #{mnemoniccode,jdbcType=VARCHAR}, #{available,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, 
      #{operatorid,jdbcType=DECIMAL}, #{operationunitid,jdbcType=DECIMAL}, #{operationtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.BAS_Basicarchivesentry">
    insert into BOS.BAS_BASICARCHIVESENTRY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="mnemoniccode != null">
        MNEMONICCODE,
      </if>
      <if test="available != null">
        AVAILABLE,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="operatorid != null">
        OPERATORID,
      </if>
      <if test="operationunitid != null">
        OPERATIONUNITID,
      </if>
      <if test="operationtime != null">
        OPERATIONTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="mnemoniccode != null">
        #{mnemoniccode,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationunitid != null">
        #{operationunitid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        #{operationtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.BAS_Basicarchivesentry">
    update BOS.BAS_BASICARCHIVESENTRY
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="mnemoniccode != null">
        MNEMONICCODE = #{mnemoniccode,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        AVAILABLE = #{available,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        OPERATORID = #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationunitid != null">
        OPERATIONUNITID = #{operationunitid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.BAS_Basicarchivesentry">
    update BOS.BAS_BASICARCHIVESENTRY
    set NAME = #{name,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=DECIMAL},
      MNEMONICCODE = #{mnemoniccode,jdbcType=VARCHAR},
      AVAILABLE = #{available,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      OPERATORID = #{operatorid,jdbcType=DECIMAL},
      OPERATIONUNITID = #{operationunitid,jdbcType=DECIMAL},
      OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>