<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.BAS_ShuttlebusMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.BAS_Shuttlebus">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LINETYPE" jdbcType="DECIMAL" property="linetype" />
    <result column="LINEID" jdbcType="DECIMAL" property="lineid" />
    <result column="LICENSEPLATEINT" jdbcType="VARCHAR" property="licenseplateint" />
    <result column="CARRIER" jdbcType="VARCHAR" property="carrier" />
    <result column="MODELS" jdbcType="VARCHAR" property="models" />
    <result column="DRIVER" jdbcType="VARCHAR" property="driver" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="TON" jdbcType="DECIMAL" property="ton" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="OPERATORID" jdbcType="DECIMAL" property="operatorid" />
    <result column="OPERATIONUNITID" jdbcType="DECIMAL" property="operationunitid" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LINETYPE, LINEID, LICENSEPLATEINT, CARRIER, MODELS, DRIVER, TELEPHONE, TON, REMARKS,
    OPERATORID, OPERATIONUNITID, OPERATIONTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from BOS.BAS_SHUTTLEBUS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.BAS_SHUTTLEBUS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.model.BAS_Shuttlebus">
    insert into BOS.BAS_SHUTTLEBUS (ID, LINETYPE, LINEID,
      LICENSEPLATEINT, CARRIER, MODELS,
      DRIVER, TELEPHONE, TON,
      REMARKS, OPERATORID, OPERATIONUNITID,
      OPERATIONTIME)
    values (#{id,jdbcType=DECIMAL}, #{linetype,jdbcType=DECIMAL}, #{lineid,jdbcType=DECIMAL},
      #{licenseplateint,jdbcType=VARCHAR}, #{carrier,jdbcType=VARCHAR}, #{models,jdbcType=VARCHAR},
      #{driver,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{ton,jdbcType=DECIMAL},
      #{remarks,jdbcType=VARCHAR}, #{operatorid,jdbcType=DECIMAL}, #{operationunitid,jdbcType=DECIMAL},
      #{operationtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.BAS_Shuttlebus">
    insert into BOS.BAS_SHUTTLEBUS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="linetype != null">
        LINETYPE,
      </if>
      <if test="lineid != null">
        LINEID,
      </if>
      <if test="licenseplateint != null">
        LICENSEPLATEINT,
      </if>
      <if test="carrier != null">
        CARRIER,
      </if>
      <if test="models != null">
        MODELS,
      </if>
      <if test="driver != null">
        DRIVER,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="ton != null">
        TON,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="operatorid != null">
        OPERATORID,
      </if>
      <if test="operationunitid != null">
        OPERATIONUNITID,
      </if>
      <if test="operationtime != null">
        OPERATIONTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="linetype != null">
        #{linetype,jdbcType=DECIMAL},
      </if>
      <if test="lineid != null">
        #{lineid,jdbcType=DECIMAL},
      </if>
      <if test="licenseplateint != null">
        #{licenseplateint,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null">
        #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="models != null">
        #{models,jdbcType=VARCHAR},
      </if>
      <if test="driver != null">
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="ton != null">
        #{ton,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationunitid != null">
        #{operationunitid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        #{operationtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.BAS_Shuttlebus">
    update BOS.BAS_SHUTTLEBUS
    <set>
      <if test="linetype != null">
        LINETYPE = #{linetype,jdbcType=DECIMAL},
      </if>
      <if test="lineid != null">
        LINEID = #{lineid,jdbcType=DECIMAL},
      </if>
      <if test="licenseplateint != null">
        LICENSEPLATEINT = #{licenseplateint,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null">
        CARRIER = #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="models != null">
        MODELS = #{models,jdbcType=VARCHAR},
      </if>
      <if test="driver != null">
        DRIVER = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="ton != null">
        TON = #{ton,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        OPERATORID = #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationunitid != null">
        OPERATIONUNITID = #{operationunitid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.BAS_Shuttlebus">
    update BOS.BAS_SHUTTLEBUS
    set LINETYPE = #{linetype,jdbcType=DECIMAL},
      LINEID = #{lineid,jdbcType=DECIMAL},
      LICENSEPLATEINT = #{licenseplateint,jdbcType=VARCHAR},
      CARRIER = #{carrier,jdbcType=VARCHAR},
      MODELS = #{models,jdbcType=VARCHAR},
      DRIVER = #{driver,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      TON = #{ton,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      OPERATORID = #{operatorid,jdbcType=DECIMAL},
      OPERATIONUNITID = #{operationunitid,jdbcType=DECIMAL},
      OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <resultMap id="BUSANDEMPANDUNITS" type="BAS_Shuttlebus">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LINETYPE" jdbcType="DECIMAL" property="linetype" />
    <result column="LICENSEPLATEINT" jdbcType="VARCHAR" property="licenseplateint" />
    <result column="CARRIER" jdbcType="VARCHAR" property="carrier" />
    <result column="MODELS" jdbcType="VARCHAR" property="models" />
    <result column="DRIVER" jdbcType="VARCHAR" property="driver" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="TON" jdbcType="DECIMAL" property="ton" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />

    <association property="sy_emp" javaType="SY_Emp">
      <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    </association>

    <association property="sy_units" javaType="SY_Units">
      <result column="NAME" jdbcType="VARCHAR" property="name" />
    </association>

    <association property="log_logistics" javaType="LOG_Logistics">
      <result column="LINENAME" jdbcType="VARCHAR" property="linename" />
    </association>
  </resultMap>

  <select id="findBUSANDEMPANDUNITS"  resultMap="BUSANDEMPANDUNITS">
    select * from(select rownum rn, b.*,e.empname,u.name,l.linename from BAS_SHUTTLEBUS  b
inner join SY_EMP  e on b.operatorid=e.id
inner join SY_UNITS u on b.operationunitid=u.id
inner join LOG_Logistics l on b.lineid=l.id) where rn between #{page} and #{rows}
  </select>


  <resultMap id="BUSANDEMPANDUNITS1" type="BAS_Shuttlebus">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LINETYPE" jdbcType="DECIMAL" property="linetype" />
    <result column="LICENSEPLATEINT" jdbcType="VARCHAR" property="licenseplateint" />
    <result column="CARRIER" jdbcType="VARCHAR" property="carrier" />
    <result column="MODELS" jdbcType="VARCHAR" property="models" />
    <result column="DRIVER" jdbcType="VARCHAR" property="driver" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="TON" jdbcType="DECIMAL" property="ton" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />

    <association property="sy_emp" javaType="SY_Emp">
      <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    </association>

    <association property="sy_units" javaType="SY_Units">
      <result column="NAME" jdbcType="VARCHAR" property="name" />
    </association>

    <association property="log_logistics" javaType="LOG_Logistics">
      <result column="LINENAME" jdbcType="VARCHAR" property="linename" />
    </association>
  </resultMap>

  <select id="findBUSANDEMPANDUNITSfenye" parameterType="Object"  resultMap="BUSANDEMPANDUNITS1">
    select * from(select rownum rn, b.*,e.empname,u.name,l.linename from BAS_SHUTTLEBUS  b
    inner join SY_EMP  e on b.operatorid=e.id
    inner join SY_UNITS u on b.operationunitid=u.id
    inner join LOG_Logistics l on b.lineid=l.id

    <where >

      <if test="licenseplateint != null">
        and LICENSEPLATEINT like concat(concat('%',#{licenseplateint,jdbcType=VARCHAR}),'%')
      </if>
      <if test="driver != null">
        and b.DRIVER like concat(concat('%',#{driver,jdbcType=VARCHAR}),'%')
      </if>
      <if test="carrier != null">
        and CARRIER like concat(concat('%',#{carrier,jdbcType=VARCHAR}),'%')
      </if>
    </where>

    ) where rn between #{page} and #{rows}
  </select>

  <select id="GetBUSCOUNT"  resultType="java.lang.Integer">
   select COUNT(*) from(select rownum rn, b.*,e.empname,u.name,l.linename from BAS_SHUTTLEBUS  b
inner join SY_EMP  e on b.operatorid=e.id
inner join SY_UNITS u on b.operationunitid=u.id
inner join LOG_Logistics l on b.lineid=l.id)
  </select>

</mapper>