<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.BAS_StandartimeMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.BAS_Standartime">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TIMENAME" jdbcType="VARCHAR" property="timename" />
    <result column="SUBORDINATEUNIT" jdbcType="DECIMAL" property="subordinateunit" />
    <result column="WORKINGTIME" jdbcType="TIMESTAMP" property="workingtime" />
    <result column="CLOSINGTIME" jdbcType="TIMESTAMP" property="closingtime" />
    <result column="SATURDAYWORKINGTIME" jdbcType="TIMESTAMP" property="saturdayworkingtime" />
    <result column="SATURDAYCLOSINGTIME" jdbcType="TIMESTAMP" property="saturdayclosingtime" />
    <result column="SUNDAYWORKINGTIME" jdbcType="TIMESTAMP" property="sundayworkingtime" />
    <result column="SUNDAYCLOSINGTIME" jdbcType="TIMESTAMP" property="sundayclosingtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TIMENAME, SUBORDINATEUNIT, WORKINGTIME, CLOSINGTIME, SATURDAYWORKINGTIME, SATURDAYCLOSINGTIME,
    SUNDAYWORKINGTIME, SUNDAYCLOSINGTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from BOS.BAS_STANDARTIME
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BAS_STANDARTIME
    where ID = #{id}
  </delete>
  <insert id="insert" parameterType="com.wl.model.BAS_Standartime">
    insert into BOS.BAS_STANDARTIME (ID, TIMENAME, SUBORDINATEUNIT,
      WORKINGTIME, CLOSINGTIME, SATURDAYWORKINGTIME,
      SATURDAYCLOSINGTIME, SUNDAYWORKINGTIME,
      SUNDAYCLOSINGTIME)
    values (BAS_StandarTime_id.nextval, #{timename,jdbcType=VARCHAR}, #{subordinateunit,jdbcType=DECIMAL},
      #{workingtime,jdbcType=TIMESTAMP}, #{closingtime,jdbcType=TIMESTAMP}, #{saturdayworkingtime,jdbcType=TIMESTAMP},
      #{saturdayclosingtime,jdbcType=TIMESTAMP}, #{sundayworkingtime,jdbcType=TIMESTAMP},
      #{sundayclosingtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.BAS_Standartime">
    insert into BOS.BAS_STANDARTIME
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="timename != null">
        TIMENAME,
      </if>
      <if test="subordinateunit != null">
        SUBORDINATEUNIT,
      </if>
      <if test="workingtime != null">
        WORKINGTIME,
      </if>
      <if test="closingtime != null">
        CLOSINGTIME,
      </if>
      <if test="saturdayworkingtime != null">
        SATURDAYWORKINGTIME,
      </if>
      <if test="saturdayclosingtime != null">
        SATURDAYCLOSINGTIME,
      </if>
      <if test="sundayworkingtime != null">
        SUNDAYWORKINGTIME,
      </if>
      <if test="sundayclosingtime != null">
        SUNDAYCLOSINGTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="timename != null">
        #{timename,jdbcType=VARCHAR},
      </if>
      <if test="subordinateunit != null">
        #{subordinateunit,jdbcType=DECIMAL},
      </if>
      <if test="workingtime != null">
        #{workingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="closingtime != null">
        #{closingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="saturdayworkingtime != null">
        #{saturdayworkingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="saturdayclosingtime != null">
        #{saturdayclosingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sundayworkingtime != null">
        #{sundayworkingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sundayclosingtime != null">
        #{sundayclosingtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.BAS_Standartime">
    update BOS.BAS_STANDARTIME
    <set>
      <if test="timename != null">
        TIMENAME = #{timename,jdbcType=VARCHAR},
      </if>
      <if test="subordinateunit != null">
        SUBORDINATEUNIT = #{subordinateunit,jdbcType=DECIMAL},
      </if>
      <if test="workingtime != null">
        WORKINGTIME = #{workingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="closingtime != null">
        CLOSINGTIME = #{closingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="saturdayworkingtime != null">
        SATURDAYWORKINGTIME = #{saturdayworkingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="saturdayclosingtime != null">
        SATURDAYCLOSINGTIME = #{saturdayclosingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sundayworkingtime != null">
        SUNDAYWORKINGTIME = #{sundayworkingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sundayclosingtime != null">
        SUNDAYCLOSINGTIME = #{sundayclosingtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.BAS_Standartime">
    update BOS.BAS_STANDARTIME
    set TIMENAME = #{timename,jdbcType=VARCHAR},
      SUBORDINATEUNIT = #{subordinateunit,jdbcType=DECIMAL},
      WORKINGTIME = #{workingtime,jdbcType=TIMESTAMP},
      CLOSINGTIME = #{closingtime,jdbcType=TIMESTAMP},
      SATURDAYWORKINGTIME = #{saturdayworkingtime,jdbcType=TIMESTAMP},
      SATURDAYCLOSINGTIME = #{saturdayclosingtime,jdbcType=TIMESTAMP},
      SUNDAYWORKINGTIME = #{sundayworkingtime,jdbcType=TIMESTAMP},
      SUNDAYCLOSINGTIME = #{sundayclosingtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <resultMap id="BAS_StandartimeAndSy_units" type="BAS_Standartime">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TIMENAME" jdbcType="VARCHAR" property="timename" />
    <result column="SUBORDINATEUNIT" jdbcType="DECIMAL" property="subordinateunit" />
    <result column="WORKINGTIME" jdbcType="TIMESTAMP" property="workingtime" />
    <result column="CLOSINGTIME" jdbcType="TIMESTAMP" property="closingtime" />
    <result column="SATURDAYWORKINGTIME" jdbcType="TIMESTAMP" property="saturdayworkingtime" />
    <result column="SATURDAYCLOSINGTIME" jdbcType="TIMESTAMP" property="saturdayclosingtime" />
    <result column="SUNDAYWORKINGTIME" jdbcType="TIMESTAMP" property="sundayworkingtime" />
    <result column="SUNDAYCLOSINGTIME" jdbcType="TIMESTAMP" property="sundayclosingtime" />

    <association property="sy_units" javaType="SY_Units">
      <result column="NAME" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>

  <select id="findBAS_StandartimeAndSy_units" resultMap="BAS_StandartimeAndSy_units">
    select * from (
select rownum rn, b.*,s.name from BAS_StandarTime b inner join SY_UNITS s on b.subordinateunit=s.id
)where rn between #{page} and #{rows}
  </select>

  <resultMap id="BAS_StandartimeAndSy_units1" type="BAS_Standartime">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TIMENAME" jdbcType="VARCHAR" property="timename" />
    <result column="SUBORDINATEUNIT" jdbcType="DECIMAL" property="subordinateunit" />
    <result column="WORKINGTIME" jdbcType="TIMESTAMP" property="workingtime" />
    <result column="CLOSINGTIME" jdbcType="TIMESTAMP" property="closingtime" />
    <result column="SATURDAYWORKINGTIME" jdbcType="TIMESTAMP" property="saturdayworkingtime" />
    <result column="SATURDAYCLOSINGTIME" jdbcType="TIMESTAMP" property="saturdayclosingtime" />
    <result column="SUNDAYWORKINGTIME" jdbcType="TIMESTAMP" property="sundayworkingtime" />
    <result column="SUNDAYCLOSINGTIME" jdbcType="TIMESTAMP" property="sundayclosingtime" />

    <association property="sy_units" javaType="SY_Units">
      <result column="NAME" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>

  <select id="findBAS_StandartimeAndSy_unitsfenye" parameterType="Object" resultMap="BAS_StandartimeAndSy_units1">
    select * from (
    select rownum rn, b.id,
    b.timename,
    WorkingTime,
    ClosingTime,
    SaturdayWorkingTime,
    SaturdayClosingTime,
    SundayWorkingTime,
    SundayClosingTime,
    s.name from BAS_StandarTime b inner join SY_UNITS s on b.subordinateunit=s.id
    <where >
      <if test="timename != null and timename != ''">
        TIMENAME = #{timename,jdbcType=VARCHAR}
      </if>
      <if test="name!= null and name != ''">
        s.NAME = #{name,jdbcType=DECIMAL}
      </if>
    </where>
    )where rn between #{page} and #{rows}
  </select>
</mapper>