<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.PAC_PackagingMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.PAC_Packaging">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ITEMCODE" jdbcType="VARCHAR" property="itemcode" />
    <result column="ITEMNAME" jdbcType="VARCHAR" property="itemname" />
    <result column="PLANNEDPRICE" jdbcType="DECIMAL" property="plannedprice" />
    <result column="SPECIFICATIONS" jdbcType="VARCHAR" property="specifications" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="MEASUREMENTUNIT" jdbcType="VARCHAR" property="measurementunit" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />

    <result column="OPERATORID" jdbcType="DECIMAL" property="operatorid" />
    <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime" />

    <result column="INVALIDATEJOBINT" jdbcType="DECIMAL" property="invalidatejobint" />
    <result column="INVALIDATENAME" jdbcType="DECIMAL" property="invalidatename" />
    <result column="INVALIDATETIME" jdbcType="TIMESTAMP" property="invalidatetime" />
    <association property="syemp" javaType="SY_Emp">
      <result property="id" column="EID"></result>
      <result property="empname" column="INVALIDATEJOBQQ"></result>
    </association>
    <association property="emp" javaType="SY_Emp">
      <result property="id" column="EID"></result>
      <result property="empname" column="OPERATORQQ"></result>
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    ID, ITEMCODE, ITEMNAME, PLANNEDPRICE, SPECIFICATIONS, TYPE, MEASUREMENTUNIT, STATUS,
    OPERATORID, OPERATIONTIME, INVALIDATEJOBINT, INVALIDATENAME, INVALIDATETIME
  </sql>
  <select id="querypack" parameterType="PAC_Packaging" resultMap="BaseResultMap">

    select * from (
    select rownum rn,pac.*,emp.empname as operatorqq,emp.empname as invalidatejobqq from Pac_Packaging pac,SY_EMP emp
    <where>and pac.operatorid=emp.id
      <if test="itemcode != null and itemcode!=''">
        and pac.itemcode like concat(concat('%',#{itemcode}),'%')
      </if>
      <if test="itemname != null and itemname!=''">
        and pac.itemname like concat(concat('%',#{itemname}),'%')
      </if>

      <if test="measurementunit != null and measurementunit!=''">
        and pac.measurementunit like concat(concat('%',#{measurementunit}),'%')
      </if>
      <if test="operatorqq != null and operatorqq!=''">
        and emp.empname like concat(concat('%',#{operatorqq}),'%')
      </if>

      <if test="invalidatejobqq != null and invalidatejobqq!=''">
        and emp.empname like concat(concat('%',#{invalidatejobqq}),'%')
      </if>

    </where>
    )
    where rn between #{page} and #{rows}
  </select>

  <select id="getcountlq" parameterType="PAC_Packaging" resultType="int">

    select count(*) from (
    select rownum rn,pac.*,emp.empname as operatorqq,emp.empname as invalidatejobqq from Pac_Packaging pac,SY_EMP emp
    <where>and pac.operatorid=emp.id
      <if test="itemcode != null and itemcode!=''">
        and pac.itemcode like concat(concat('%',#{itemcode}),'%')
      </if>
      <if test="itemname != null and itemname!=''">
        and pac.itemname like concat(concat('%',#{itemname}),'%')
      </if>

      <if test="measurementunit != null and measurementunit!=''">
        and pac.measurementunit like concat(concat('%',#{measurementunit}),'%')
      </if>
      <if test="operatorqq != null and operatorqq!=''">
        and emp.empname like concat(concat('%',#{operatorqq}),'%')
      </if>

      <if test="invalidatejobqq != null and invalidatejobqq!=''">
        and emp.empname like concat(concat('%',#{invalidatejobqq}),'%')
      </if>

    </where>
    )

  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from BOS.PAC_PACKAGING
    where ID = #{id,jdbcType=DECIMAL}
  </select>
    <!--模糊加分页-->
    <select id="selectPacking" parameterType="Object" resultType="com.wl.model.PAC_Packaging">
    select * from(select rownum rn,p.* from pac_packaging p
    <where>
        <if test="p.itemcode != null and p.itemcode != ''">
           and ITEMCODE like concat(concat('%',#{p.itemcode}),'%')
    </if>
        <if test="p.itemname != null and p.itemname != ''">
            and ITEMNAME like concat(concat('%',#{p.itemname}),'%')
        </if>
        <if test="p.plannedprice != null and p.plannedprice != ''">
            and PLANNEDPRICE=#{p.plannedprice}
        </if>

        <if test="p.type != null and p.type != ''">
           and TYPE=#{p.type}
        </if>

        <if test="p.status != null and p.status != ''">
           and STATUS=#{p.status}
        </if>

    </where>
    )
    where rn between #{page} and #{rows}
    </select>



    <!---->
    <!--模糊加分页-->
    <select id="selectPackingCount" parameterType="Object" resultType="Integer">
        select count(*) from(select rownum rn,p.* from pac_packaging p
        <where>
            <if test="itemcode != null and itemcode != ''">
                and ITEMCODE like concat(concat('%',#{itemcode}),'%')
            </if>
            <if test="itemname != null and itemname != ''">
                and ITEMNAME like concat(concat('%',#{itemname}),'%')
            </if>
            <if test="plannedprice != null and plannedprice != ''">
                and PLANNEDPRICE=#{plannedprice}
            </if>

            <if test="type != null and type != ''">
                and TYPE=#{type}
            </if>

            <if test="status != null and status != ''">
                and STATUS=#{status}
            </if>

        </where>
        )
    </select>




  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.PAC_PACKAGING
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insertSelective" parameterType="com.wl.model.PAC_Packaging">
    insert into BOS.PAC_PACKAGING
    values (pacid.nextval,
            concat('WP',pacid.nextval),
            #{itemname,jdbcType=VARCHAR},
            #{plannedprice,jdbcType=DECIMAL},
            #{specifications,jdbcType=VARCHAR},
            #{type,jdbcType=DECIMAL},
            #{measurementunit,jdbcType=VARCHAR},
            #{status,jdbcType=DECIMAL},
            #{operatorid,jdbcType=DECIMAL},
            sysdate,
            #{invalidatejobint,jdbcType=DECIMAL},
            #{invalidatename,jdbcType=DECIMAL},
            sysdate)
  </insert>
  <insert id="insert" parameterType="com.wl.model.PAC_Packaging">
    insert into BOS.PAC_PACKAGING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemcode != null and itemcode != ''">
        ITEMCODE,
      </if>
      <if test="itemname != null and itemname != ''">
        ITEMNAME,
      </if>
      <if test="plannedprice != null and plannedprice != ''">
        PLANNEDPRICE,
      </if>
      <if test="specifications != null and specifications != ''">
        SPECIFICATIONS,
      </if>
      <if test="type != null and type != ''">
        TYPE,
      </if>
      <if test="measurementunit != null and measurementunit != ''">
        MEASUREMENTUNIT,
      </if>
      <if test="status != null and status != ''">
        STATUS,
      </if>
      <if test="operatorid != null and operatorid != ''">
        OPERATORID,
      </if>
      <if test="operationtime != null and operationtime != ''">
        OPERATIONTIME,
      </if>
      <if test="invalidatejobint != null and invalidatejobint != ''">
        INVALIDATEJOBINT,
      </if>
      <if test="invalidatename != null and invalidatename != ''">
        INVALIDATENAME,
      </if>
      <if test="invalidatetime != null and invalidatetime != ''">
        INVALIDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

        <if test="itemcode != null and itemcode != ''">
        #{itemcode,jdbcType=VARCHAR},
      </if>
        <if test="itemname != null and itemname != ''">
        #{itemname,jdbcType=VARCHAR},
      </if>
        <if test="plannedprice != null and plannedprice != ''">
        #{plannedprice,jdbcType=DECIMAL},
      </if>
        <if test="specifications != null and specifications != ''">
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="type != null and type!=''">
        #{type,jdbcType=DECIMAL},
      </if>
        <if test="measurementunit != null and measurementunit != ''">
        #{measurementunit,jdbcType=VARCHAR},
      </if>
        <if test="status != null and status != ''">
        #{status,jdbcType=DECIMAL},
      </if>
        <if test="operatorid != null and operatorid != ''">
        #{operatorid,jdbcType=DECIMAL},
      </if>
        <if test="operationtime != null and operationtime != ''">
        #{operationtime,jdbcType=TIMESTAMP},
      </if>
        <if test="invalidatejobint != null and invalidatejobint != ''">
        #{invalidatejobint,jdbcType=TIMESTAMP},
      </if>
        <if test="invalidatename != null and invalidatename != ''">
        #{invalidatename,jdbcType=DECIMAL},
      </if>
        <if test="invalidatetime != null and invalidatetime != ''">
        #{sysdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.PAC_Packaging">
    update BOS.PAC_PACKAGING
    <set>
      <if test="itemcode != null">
        ITEMCODE = #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        ITEMNAME = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="plannedprice != null">
        PLANNEDPRICE = #{plannedprice,jdbcType=DECIMAL},
      </if>
      <if test="specifications != null">
        SPECIFICATIONS = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="measurementunit != null">
        MEASUREMENTUNIT = #{measurementunit,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="operatorid != null">
        OPERATORID = #{operatorid,jdbcType=DECIMAL},
      </if>
      <if test="operationtime != null">
        OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidatejobint != null">
        INVALIDATEJOBINT = #{invalidatejobint,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidatename != null">
        INVALIDATENAME = #{invalidatename,jdbcType=DECIMAL},
      </if>
      <if test="invalidatetime != null">
        INVALIDATETIME = #{invalidatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.PAC_Packaging">
    update BOS.PAC_PACKAGING
    set ITEMCODE = #{itemcode,jdbcType=VARCHAR},
      ITEMNAME = #{itemname,jdbcType=VARCHAR},
      PLANNEDPRICE = #{plannedprice,jdbcType=DECIMAL},
      SPECIFICATIONS = #{specifications,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      MEASUREMENTUNIT = #{measurementunit,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      OPERATORID = #{operatorid,jdbcType=DECIMAL},
      OPERATIONTIME = #{operationtime,jdbcType=TIMESTAMP},
      INVALIDATEJOBINT = #{invalidatejobint,jdbcType=TIMESTAMP},
      INVALIDATENAME = #{invalidatename,jdbcType=DECIMAL},
      INVALIDATETIME = #{invalidatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>