<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.PAC_StockMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.PAC_Stock">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="WAREHOUSENO" jdbcType="VARCHAR" property="warehouseno" />
    <result column="RESERVOIRTYPE" jdbcType="DECIMAL" property="reservoirtype" />
    <result column="TRANSPORT" jdbcType="VARCHAR" property="transport" />
    <result column="SUBORDINATEUNIT" jdbcType="VARCHAR" property="subordinateunit" />
    <result column="DRAWERNO" jdbcType="DECIMAL" property="drawerno" />
    <result column="DRAWERNAME" jdbcType="VARCHAR" property="drawername" />
    <result column="DRAWERTIME" jdbcType="TIMESTAMP" property="drawertime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, WAREHOUSENO, RESERVOIRTYPE, TRANSPORT, SUBORDINATEUNIT, DRAWERNO, DRAWERNAME, 
    DRAWERTIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BOS.PAC_STOCK
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.PAC_STOCK
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.model.PAC_Stock">
    insert into BOS.PAC_STOCK (ID, WAREHOUSENO, RESERVOIRTYPE, 
      TRANSPORT, SUBORDINATEUNIT, DRAWERNO, 
      DRAWERNAME, DRAWERTIME, REMARK
      )
    values (#{id,jdbcType=DECIMAL}, #{warehouseno,jdbcType=VARCHAR}, #{reservoirtype,jdbcType=DECIMAL}, 
      #{transport,jdbcType=VARCHAR}, #{subordinateunit,jdbcType=VARCHAR}, #{drawerno,jdbcType=DECIMAL}, 
      #{drawername,jdbcType=VARCHAR}, #{drawertime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.PAC_Stock">
    insert into BOS.PAC_STOCK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="warehouseno != null">
        WAREHOUSENO,
      </if>
      <if test="reservoirtype != null">
        RESERVOIRTYPE,
      </if>
      <if test="transport != null">
        TRANSPORT,
      </if>
      <if test="subordinateunit != null">
        SUBORDINATEUNIT,
      </if>
      <if test="drawerno != null">
        DRAWERNO,
      </if>
      <if test="drawername != null">
        DRAWERNAME,
      </if>
      <if test="drawertime != null">
        DRAWERTIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="warehouseno != null">
        #{warehouseno,jdbcType=VARCHAR},
      </if>
      <if test="reservoirtype != null">
        #{reservoirtype,jdbcType=DECIMAL},
      </if>
      <if test="transport != null">
        #{transport,jdbcType=VARCHAR},
      </if>
      <if test="subordinateunit != null">
        #{subordinateunit,jdbcType=VARCHAR},
      </if>
      <if test="drawerno != null">
        #{drawerno,jdbcType=DECIMAL},
      </if>
      <if test="drawername != null">
        #{drawername,jdbcType=VARCHAR},
      </if>
      <if test="drawertime != null">
        #{drawertime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.PAC_Stock">
    update BOS.PAC_STOCK
    <set>
      <if test="warehouseno != null">
        WAREHOUSENO = #{warehouseno,jdbcType=VARCHAR},
      </if>
      <if test="reservoirtype != null">
        RESERVOIRTYPE = #{reservoirtype,jdbcType=DECIMAL},
      </if>
      <if test="transport != null">
        TRANSPORT = #{transport,jdbcType=VARCHAR},
      </if>
      <if test="subordinateunit != null">
        SUBORDINATEUNIT = #{subordinateunit,jdbcType=VARCHAR},
      </if>
      <if test="drawerno != null">
        DRAWERNO = #{drawerno,jdbcType=DECIMAL},
      </if>
      <if test="drawername != null">
        DRAWERNAME = #{drawername,jdbcType=VARCHAR},
      </if>
      <if test="drawertime != null">
        DRAWERTIME = #{drawertime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.PAC_Stock">
    update BOS.PAC_STOCK
    set WAREHOUSENO = #{warehouseno,jdbcType=VARCHAR},
      RESERVOIRTYPE = #{reservoirtype,jdbcType=DECIMAL},
      TRANSPORT = #{transport,jdbcType=VARCHAR},
      SUBORDINATEUNIT = #{subordinateunit,jdbcType=VARCHAR},
      DRAWERNO = #{drawerno,jdbcType=DECIMAL},
      DRAWERNAME = #{drawername,jdbcType=VARCHAR},
      DRAWERTIME = #{drawertime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>