<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.PAC_StockitemMapper">
    <resultMap id="BaseResultMap" type="com.wl.model.PAC_Stockitem">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="WAREHOUSENO" jdbcType="VARCHAR" property="warehouseno"/>
        <result column="GOODSCODE" jdbcType="VARCHAR" property="goodscode"/>
        <result column="GOODSNAME" jdbcType="VARCHAR" property="goodsname"/>
        <result column="STORAGENUM" jdbcType="DECIMAL" property="storagenum"/>
        <result column="ACTUALNUM" jdbcType="DECIMAL" property="actualnum"/>
        <result column="PLANNEDPRICE" jdbcType="DECIMAL" property="plannedprice"/>
        <result column="SPECIFICATIONS" jdbcType="VARCHAR" property="specifications"/>
        <result column="TYPE" jdbcType="DECIMAL" property="type"/>
        <result column="STATUS" jdbcType="DECIMAL" property="status"/>
    </resultMap>


    <!--库存管理返回值-->
    <resultMap id="Stocks" type="com.wl.model.PAC_Stockitem">
        <id column="psid" jdbcType="DECIMAL" property="id"/>
        <result column="WAREHOUSENO" jdbcType="VARCHAR" property="warehouseno"/>
        <result column="GOODSCODE" jdbcType="VARCHAR" property="goodscode"/>
        <result column="GOODSNAME" jdbcType="VARCHAR" property="goodsname"/>
        <result column="STORAGENUM" jdbcType="DECIMAL" property="storagenum"/>
        <result column="ACTUALNUM" jdbcType="DECIMAL" property="actualnum"/>
        <result column="psplannedprice" jdbcType="DECIMAL" property="plannedprice"/>
        <result column="SPECIFICATIONS" jdbcType="VARCHAR" property="specifications"/>
        <result column="TYPE" jdbcType="DECIMAL" property="type"/>
        <result column="STATUS" jdbcType="DECIMAL" property="status"/>
        <association property="packaging" javaType="com.wl.model.PAC_Packaging">
            <id column="pcid" jdbcType="DECIMAL" property="id"/>
            <result column="ITEMCODE" jdbcType="VARCHAR" property="itemcode"/>
            <result column="ITEMNAME" jdbcType="VARCHAR" property="itemname"/>
            <result column="pcplannedprice" jdbcType="DECIMAL" property="plannedprice"/>
            <result column="SPECIFICATIONS" jdbcType="VARCHAR" property="specifications"/>
            <result column="pctype" jdbcType="DECIMAL" property="type"/>
            <result column="MEASUREMENTUNIT" jdbcType="VARCHAR" property="measurementunit"/>
            <result column="pcstatus" jdbcType="DECIMAL" property="status"/>
            <result column="OPERATORID" jdbcType="DECIMAL" property="operatorid"/>
            <result column="OPERATIONTIME" jdbcType="TIMESTAMP" property="operationtime"/>
            <result column="INVALIDATEJOBINT" jdbcType="DECIMAL" property="invalidatejobint"/>
            <result column="INVALIDATENAME" jdbcType="DECIMAL" property="invalidatename"/>
            <result column="INVALIDATETIME" jdbcType="TIMESTAMP" property="invalidatetime"/>
        </association>

    </resultMap>


    <sql id="Base_Column_List">
    ID, WAREHOUSENO, GOODSCODE, GOODSNAME, STORAGENUM, ACTUALNUM, PLANNEDPRICE, SPECIFICATIONS, 
    TYPE, STATUS
  </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.PAC_STOCKITEM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="com.wl.model.PAC_Stockitem">
    insert into BOS.PAC_STOCKITEM (ID, WAREHOUSENO, GOODSCODE,
      GOODSNAME, STORAGENUM, ACTUALNUM,
      PLANNEDPRICE, SPECIFICATIONS, TYPE,
      STATUS)
    values (sm_seq.nextval,#{warehouseno,jdbcType=VARCHAR}, concat('WP',sm_seq.nextval),
      #{goodsname,jdbcType=VARCHAR}, #{storagenum,jdbcType=DECIMAL}, #{actualnum,jdbcType=DECIMAL}, 
      #{plannedprice,jdbcType=DECIMAL}, #{specifications,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="com.wl.model.PAC_Stockitem">
        insert into BOS.PAC_STOCKITEM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="warehouseno != null">
                WAREHOUSENO,
            </if>
            <if test="goodscode != null">
                GOODSCODE,
            </if>
            <if test="goodsname != null">
                GOODSNAME,
            </if>
            <if test="storagenum != null">
                STORAGENUM,
            </if>
            <if test="actualnum != null">
                ACTUALNUM,
            </if>
            <if test="plannedprice != null">
                PLANNEDPRICE,
            </if>
            <if test="specifications != null">
                SPECIFICATIONS,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="status != null">
                STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="warehouseno != null">
                #{warehouseno,jdbcType=VARCHAR},
            </if>
            <if test="goodscode != null">
                #{goodscode,jdbcType=VARCHAR},
            </if>
            <if test="goodsname != null">
                #{goodsname,jdbcType=VARCHAR},
            </if>
            <if test="storagenum != null">
                #{storagenum,jdbcType=DECIMAL},
            </if>
            <if test="actualnum != null">
                #{actualnum,jdbcType=DECIMAL},
            </if>
            <if test="plannedprice != null">
                #{plannedprice,jdbcType=DECIMAL},
            </if>
            <if test="specifications != null">
                #{specifications,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.PAC_Stockitem">
        update BOS.PAC_STOCKITEM
        <set>
            <if test="warehouseno != null">
                WAREHOUSENO = #{warehouseno,jdbcType=VARCHAR},
            </if>
            <if test="goodscode != null">
                GOODSCODE = #{goodscode,jdbcType=VARCHAR},
            </if>
            <if test="goodsname != null">
                GOODSNAME = #{goodsname,jdbcType=VARCHAR},
            </if>
            <if test="storagenum != null">
                STORAGENUM = #{storagenum,jdbcType=DECIMAL},
            </if>
            <if test="actualnum != null">
                ACTUALNUM = #{actualnum,jdbcType=DECIMAL},
            </if>
            <if test="plannedprice != null">
                PLANNEDPRICE = #{plannedprice,jdbcType=DECIMAL},
            </if>
            <if test="specifications != null">
                SPECIFICATIONS = #{specifications,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wl.model.PAC_Stockitem">
    update BOS.PAC_STOCKITEM
    set WAREHOUSENO = #{warehouseno,jdbcType=VARCHAR},
      GOODSCODE = #{goodscode,jdbcType=VARCHAR},
      GOODSNAME = #{goodsname,jdbcType=VARCHAR},
      STORAGENUM = #{storagenum,jdbcType=DECIMAL},
      ACTUALNUM = #{actualnum,jdbcType=DECIMAL},
      PLANNEDPRICE = #{plannedprice,jdbcType=DECIMAL},
      SPECIFICATIONS = #{specifications,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>


    <!--根据入库单号查询-->
    <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BOS.PAC_STOCKITEM
        where warehouseno = #{warehouseno,jdbcType=VARCHAR}
    </select>

    <select id="selectStock" resultMap="Stocks" parameterType="Object">
        select * from (select
        rownum rn,
        ps.id as psid,ps.warehouseno,
        ps.goodscode,ps.goodsname,
        ps.storagenum,ps.actualnum,ps.plannedprice as psplannedprice,
        ps.specifications,ps.type,ps.status,

        pc.id as pcid,pc.itemcode,pc.itemname,
        pc.plannedprice as pcplannedprice,
        pc.type as pctype,pc.measurementunit,
        pc.status as pcstatus,pc.operatorid,pc.operationtime,
        pc.invalidatejobint,pc.invalidatename,pc.invalidatetime
        from
        pac_stockitem ps inner join pac_packaging pc
        on ps.goodscode=pc.itemcode
        <where>

            <if test="p.goodscode != null and p.goodscode !=''">
                and ps.GOODSCODE like concat(concat('%',#{p.goodscode,jdbcType=VARCHAR}),'%')
            </if>

            <if test="p.specifications != null and p.specifications !=''">
                and ps.SPECIFICATIONS like concat(concat('%',#{p.specifications,jdbcType=VARCHAR}),'%')
            </if>
            <if test="p.type != null and p.type !=''">
                and ps.TYPE = #{p.type,jdbcType=DECIMAL}
            </if>
            <if test="symbol!= null and symbol!='' and p.storagenum != null and p.storagenum != ''">
                and ps.STORAGENUM
                ${symbol}
                #{p.storagenum,jdbcType=DECIMAL}
            </if>
            <if test="symbol2!= null and symbol2!='' and p.plannedprice != null and p.plannedprice !=''">
                and ps.PLANNEDPRICE
               ${symbol2}
                #{p.plannedprice,jdbcType=DECIMAL}
            </if>

        </where>
        )
        where rn between #{page} and #{rows}
    </select>
    <!--总行数库存管理-->
    <select id="selectStockCount" resultType="Integer" parameterType="Object">
        select count(*) from (select * from
        pac_stockitem ps inner join pac_packaging pc
        on ps.goodscode=pc.itemcode
        <where>

            <if test="p.goodscode != null and p.goodscode !=''">
                and ps.GOODSCODE like concat(concat('%',#{p.goodscode,jdbcType=VARCHAR}),'%')
            </if>

            <if test="p.specifications != null and p.specifications !=''">
                and ps.SPECIFICATIONS like concat(concat('%',#{p.specifications,jdbcType=VARCHAR}),'%')
            </if>
            <if test="p.type != null and p.type !=''">
                and ps.TYPE = #{p.type,jdbcType=DECIMAL}
            </if>
            <if test="symbol!= null and symbol!='' and p.storagenum != null and p.storagenum != ''">
                and ps.STORAGENUM
                ${symbol}
                #{p.storagenum,jdbcType=DECIMAL}
            </if>
            <if test="symbol2!= null and symbol2!='' and p.plannedprice != null and p.plannedprice !=''">
                and ps.PLANNEDPRICE
                ${symbol2}
                #{p.plannedprice,jdbcType=DECIMAL}
            </if>


        </where>
        )
    </select>
</mapper>