<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.PAC_StockMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.PAC_Stock">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="WAREHOUSENO" jdbcType="VARCHAR" property="warehouseno" />
    <result column="RESERVOIRTYPE" jdbcType="DECIMAL" property="reservoirtype" />
    <result column="TRANSPORT" jdbcType="VARCHAR" property="transport" />
    <result column="SUBORDINATEUNIT" jdbcType="VARCHAR" property="subordinateunit" />
    <result column="DRAWERNO" jdbcType="DECIMAL" property="drawerno" />
    <result column="DRAWERNAME" jdbcType="VARCHAR" property="drawername" />
    <result column="DRAWERTIME" jdbcType="TIMESTAMP" property="drawertime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="result" type="com.wl.model.PAC_Stock">
    <id property="id" column="ID"></id>
    <result property="warehouseno" column="WarehouseNo"></result>
    <result property="reservoirtype" column="ReservoirType"></result>
    <result property="transport" column="Transport"></result>
    <result property="subordinateunit" column="SubordinateUnit"></result>
    <result property="drawerno" column="DrawerNo"></result>
    <result property="drawername" column="DrawerName"></result>
    <result property="drawertime" column="DrawerTime"></result>
    <result property="remark" column="Remark"></result>

    <association property="pac_stockitem" javaType="PAC_StockItem">
      <result property="warehouseno" column="WarehouseNo"></result>
      <result property="status" column="Status"></result>
    </association>
  </resultMap>
  <select id="selectAll" resultMap="result" parameterType="PAC_Stock">
    select * from (
select rownum rn,sk.*,sm.Status as status from PAC_StockItem sm,PAC_Stock sk
    <where>
      and sm.WarehouseNo=sk.warehouseno
    <if test="warehouseno != null and warehouseno!=''">
      and
      sk.warehouseno like concat(concat('%',#{warehouseno}),'%')
    </if>
    <if test="reservoirtype != null and reservoirtype!=''">
      and sk.reservoirtype=#{reservoirtype}
    </if>
    <if test="transport != null and transport!=''">
      and sk.transport like concat(concat('%',#{transport}),'%')
    </if>
    <if test="subordinateunit != null and subordinateunit!=''">
      and
      sk.subordinateunit like concat(concat('%',#{subordinateunit}),'%')
    </if>
  </where>
)
where rn between #{page} and #{rows}


  </select>
  <select id="selectbyid" resultMap="result" parameterType="Object">
    select sk.*,sm.Status as status from PAC_StockItem sm,PAC_Stock sk where sm.WarehouseNo=sk.warehouseno
    and sk.id=#{id}

  </select>
  <select id="mhselect" resultMap="result" parameterType="PAC_Stock">
    select * from (
    select rownum rn,sk.*,sm.Status as status from PAC_StockItem sm,PAC_Stock sk
        <where>
          and sm.WarehouseNo=sk.warehouseno
          <if test="warehouseno != null">
            and
            sk.warehouseno like concat(concat('%',#{warehouseno}),'%')
          </if>
          <if test="reservoirtype != null">
            and sk.reservoirtype=#{reservoirtype}
          </if>
          <if test="transport != null">
            and sk.transport like concat(concat('%',#{transport}),'%')
          </if>
          <if test="subordinateunit != null">
            and
            sk.subordinateunit like concat(concat('%',#{subordinateunit}),'%')
          </if>
        </where>
    )
    where rn between #{page} and #{rows}

  </select>
  <select id="querycount" parameterType="Object" resultType="int">
    select count(*) from (
    select rownum rn,sk.*,sm.Status as status from PAC_StockItem sm,PAC_Stock sk
    <where>
      and sm.WarehouseNo=sk.warehouseno
      <if test="warehouseno != null">
        and
        sk.warehouseno like concat(concat('%',#{warehouseno}),'%')
      </if>
      <if test="reservoirtype != null">
        and sk.reservoirtype=#{reservoirtype}
      </if>
      <if test="transport != null">
        and sk.transport like concat(concat('%',#{transport}),'%')
      </if>
      <if test="subordinateunit != null">
        and
        sk.subordinateunit like concat(concat('%',#{subordinateunit}),'%')
      </if>
    </where>
    )
  </select>
  <sql id="Base_Column_List">
    ID, WAREHOUSENO, RESERVOIRTYPE, TRANSPORT, SUBORDINATEUNIT, DRAWERNO, DRAWERNAME, 
    DRAWERTIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BOS.PAC_STOCK
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.PAC_STOCK
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.model.PAC_Stock">
    insert into BOS.PAC_STOCK (ID, WAREHOUSENO, RESERVOIRTYPE, 
      TRANSPORT, SUBORDINATEUNIT, DRAWERNO, 
      DRAWERNAME, DRAWERTIME, REMARK
      )
    values (pac_sk_seq.nextval, concat('RK',pac_sk_seq.nextval), #{reservoirtype,jdbcType=DECIMAL},
      #{transport,jdbcType=VARCHAR}, #{subordinateunit,jdbcType=VARCHAR}, #{drawerno,jdbcType=DECIMAL}, 
      #{drawername,jdbcType=VARCHAR}, sysdate, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.PAC_Stock">
    insert into BOS.PAC_STOCK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="warehouseno != null">
        WAREHOUSENO,
      </if>
      <if test="reservoirtype != null">
        RESERVOIRTYPE,
      </if>
      <if test="transport != null">
        TRANSPORT,
      </if>
      <if test="subordinateunit != null">
        SUBORDINATEUNIT,
      </if>
      <if test="drawerno != null">
        DRAWERNO,
      </if>
      <if test="drawername != null">
        DRAWERNAME,
      </if>
      <if test="drawertime != null">
        DRAWERTIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="warehouseno != null">
        #{warehouseno,jdbcType=VARCHAR},
      </if>
      <if test="reservoirtype != null">
        #{reservoirtype,jdbcType=DECIMAL},
      </if>
      <if test="transport != null">
        #{transport,jdbcType=VARCHAR},
      </if>
      <if test="subordinateunit != null">
        #{subordinateunit,jdbcType=VARCHAR},
      </if>
      <if test="drawerno != null">
        #{drawerno,jdbcType=DECIMAL},
      </if>
      <if test="drawername != null">
        #{drawername,jdbcType=VARCHAR},
      </if>
      <if test="drawertime != null">
        #{drawertime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updatepacsk" parameterType="com.wl.model.PAC_Stock">
    update BOS.PAC_STOCK
    <set>
      <if test="warehouseno != null">
        WAREHOUSENO = #{warehouseno,jdbcType=VARCHAR},
      </if>
      <if test="reservoirtype != null">
        RESERVOIRTYPE = #{reservoirtype,jdbcType=DECIMAL},
      </if>
      <if test="transport != null">
        TRANSPORT = #{transport,jdbcType=VARCHAR},
      </if>
      <if test="subordinateunit != null">
        SUBORDINATEUNIT = #{subordinateunit,jdbcType=VARCHAR},
      </if>
      <if test="drawerno != null">
        DRAWERNO = #{drawerno,jdbcType=DECIMAL},
      </if>
      <if test="drawername != null">
        DRAWERNAME = #{drawername,jdbcType=VARCHAR},
      </if>
      <if test="drawertime != null">
        DRAWERTIME = #{drawertime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.PAC_Stock">
    update BOS.PAC_STOCK
    set WAREHOUSENO = #{warehouseno,jdbcType=VARCHAR},
      RESERVOIRTYPE = #{reservoirtype,jdbcType=DECIMAL},
      TRANSPORT = #{transport,jdbcType=VARCHAR},
      SUBORDINATEUNIT = #{subordinateunit,jdbcType=VARCHAR},
      DRAWERNO = #{drawerno,jdbcType=DECIMAL},
      DRAWERNAME = #{drawername,jdbcType=VARCHAR},
      DRAWERTIME = #{drawertime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>