<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.SOR_StoragedetailsMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.SOR_Storagedetails">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PACKAGEID" jdbcType="VARCHAR" property="packageid" />
    <result column="WEIGHT" jdbcType="DECIMAL" property="weight" />
    <result column="OUTBOUNDID" jdbcType="VARCHAR" property="outboundid" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PACKAGEID, WEIGHT, OUTBOUNDID, STATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BOS.SOR_STORAGEDETAILS
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <!--根据id查询-->
  <select id="fingByIdDateils" resultType="SOR_Storagedetails" parameterType="SOR_Storagedetails">
    select * from SOR_StorageDetails where id=#{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.SOR_STORAGEDETAILS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.model.SOR_Storagedetails">
    insert into BOS.SOR_STORAGEDETAILS (ID, PACKAGEID, WEIGHT, 
      OUTBOUNDID, STATE)
    values (#{id,jdbcType=DECIMAL}, CONCAT('HBH',sor_strdate_page.nextval), #{weight,jdbcType=DECIMAL},
      #{outboundid,jdbcType=VARCHAR}, #{state,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.SOR_Storagedetails">
    insert into BOS.SOR_STORAGEDETAILS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="packageid != null">
        PACKAGEID,
      </if>
      <if test="weight != null">
        WEIGHT,
      </if>
      <if test="outboundid != null">
        OUTBOUNDID,
      </if>
      <if test="state != null">
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="packageid != null">
        #{packageid,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="outboundid != null">
        #{outboundid,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.SOR_Storagedetails">
    update BOS.SOR_STORAGEDETAILS
    <set>
      <if test="packageid != null">
        PACKAGEID = #{packageid,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="outboundid != null">
        OUTBOUNDID = #{outboundid,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.SOR_Storagedetails">
    update BOS.SOR_STORAGEDETAILS
    set PACKAGEID = #{packageid,jdbcType=VARCHAR},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      OUTBOUNDID = #{outboundid,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>