<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.SY_EmpMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.SY_Emp">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    <result column="EMPNO" jdbcType="VARCHAR" property="empno" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="QUERYPWD" jdbcType="VARCHAR" property="querypwd" />
    <result column="ROLEID" jdbcType="DECIMAL" property="roleid" />
    <result column="EMPUNIT" jdbcType="DECIMAL" property="empunit" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DISABLED" jdbcType="DECIMAL" property="disabled" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, EMPNAME, EMPNO, PWD, QUERYPWD, ROLEID, EMPUNIT, REMARK, DISABLED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BOS.SY_EMP
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <!--用户和角色一对一的关系-->
  <select id="findAllEmpAndRole" resultMap="EmpAndRole" parameterType="Object">
     select * from
     (select rownum rn,e.*,r.id as rid,r.roleName as rolename,
     u.id as idu,u.name as nameu
     from sy_emp e inner join sy_role r on e.roleid=r.id
     inner join sy_units u on e.empunit=u.id
     <where>
       <if test="empname != null and empname!=''">
         and EMPNAME like  concat(concat('%',#{empname}),'%')
       </if>
       <if test="disabled != null and disabled!=''">
         and e.DISABLED = #{disabled,jdbcType=DECIMAL}
       </if>
     </where>
     )
   where rn between #{page} and #{rows}
  </select>

  <!--查询出所有的小件员-->
  <select id="findXJY" resultMap="EmpAndRole">
    select rownum rn,e.*,r.id as rid,r.roleName as rolename,
     u.id as idu,u.name as nameu
     from sy_emp e inner join sy_role r on e.roleid=r.id
     inner join sy_units u on e.empunit=u.id where roleid=1004
  </select>
  <!--根据员工工号查询出查台密码-->
  <select id="findByQueryPwd" resultType="SY_Emp" parameterType="String">
    select * from SY_Emp where empno=#{empno} and querypwd=#{querypwd}
  </select>
  <!--用户和角色的自定义返回类型-->
  <resultMap id="EmpAndRole" type="SY_Emp">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="EMPNAME" jdbcType="VARCHAR" property="empname" />
    <result column="EMPNO" jdbcType="VARCHAR" property="empno" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="QUERYPWD" jdbcType="VARCHAR" property="querypwd" />
    <result column="ROLEID" jdbcType="DECIMAL" property="roleid" />
    <result column="EMPUNIT" jdbcType="DECIMAL" property="empunit" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DISABLED" jdbcType="DECIMAL" property="disabled" />
    <!--用户里面对应的角色-->
    <association property="sy_role" javaType="SY_Role">
      <id column="RID" jdbcType="DECIMAL" property="id" />
      <result column="ROLENAME" jdbcType="VARCHAR" property="rolename" />
      <result column="ROLEDESC" jdbcType="VARCHAR" property="roledesc" />
      <result column="DISABLED" jdbcType="DECIMAL" property="disabled" />
    </association>
    <!--用户里面的单位-->
    <association property="sy_units" javaType="SY_Units">
      <id column="IDU" jdbcType="DECIMAL" property="id" />
      <result column="NAMEU" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>

  <!--查询总行数-->
  <select id="findsumCount" resultType="Integer" parameterType="SY_Emp">
    select count(*) from
    (select rownum rn,e.*,r.id as rid,r.roleName as rolename,
    u.id as idu,u.name as nameu
    from sy_emp e inner join sy_role r on e.roleid=r.id
    inner join sy_units u on e.empunit=u.id
    <where>
      <if test="empname != null and empname!=''">
        and EMPNAME like  concat(concat('%',#{empname}),'%')
      </if>
      <if test="disabled != null and disabled!=''">
        and e.DISABLED = #{disabled,jdbcType=DECIMAL}
      </if>
    </where>
    )
  </select>

  <!--登录的方法-->
  <select id="findEmpByLogin" resultMap="EmpAndRole" parameterType="SY_Emp">
    select rownum rn,e.*,r.id as rid,r.roleName as rolename,
    u.id as idu,u.name as nameu
    from sy_emp e inner join sy_role r on e.roleid=r.id
    inner join sy_units u on e.empunit=u.id where e.empname=#{empname} and e.pwd=#{pwd}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.SY_EMP
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insertEMP" parameterType="com.wl.model.SY_Emp">
    insert into BOS.SY_EMP (ID, EMPNAME, EMPNO, 
      PWD, QUERYPWD, ROLEID, 
      EMPUNIT, REMARK, DISABLED
      )
    values (emp_id.nextval, #{empname,jdbcType=VARCHAR}, emp_no.nextval,
      #{pwd,jdbcType=VARCHAR}, #{querypwd,jdbcType=VARCHAR}, #{roleid,jdbcType=DECIMAL}, 
      #{empunit,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{disabled,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.SY_Emp">
    insert into BOS.SY_EMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="empname != null">
        EMPNAME,
      </if>
      <if test="empno != null">
        EMPNO,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
      <if test="querypwd != null">
        QUERYPWD,
      </if>
      <if test="roleid != null">
        ROLEID,
      </if>
      <if test="empunit != null">
        EMPUNIT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="disabled != null">
        DISABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="empname != null">
        #{empname,jdbcType=VARCHAR},
      </if>
      <if test="empno != null">
        #{empno,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="querypwd != null">
        #{querypwd,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="empunit != null">
        #{empunit,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.SY_Emp">
    update BOS.SY_EMP
    <set>
      <if test="empname != null">
        EMPNAME = #{empname,jdbcType=VARCHAR},
      </if>
      <if test="empno != null">
        EMPNO = #{empno,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="querypwd != null">
        QUERYPWD = #{querypwd,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        ROLEID = #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="empunit != null">
        EMPUNIT = #{empunit,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        DISABLED = #{disabled,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.SY_Emp">
    update BOS.SY_EMP
    set EMPNAME = #{empname,jdbcType=VARCHAR},
      EMPNO = #{empno,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR},
      QUERYPWD = #{querypwd,jdbcType=VARCHAR},
      ROLEID = #{roleid,jdbcType=DECIMAL},
      EMPUNIT = #{empunit,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      DISABLED = #{disabled,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="findemono" resultType="SY_Emp">
    select * from   SY_EMP
</select>
  <select id="findbyid" resultMap="EmpAndRole">
    select  e.*,un.name as NAMEU from  SY_EMP e
    inner join sy_units un
    on e.empunit=un.id
    <where>
      <if test="empno!=null and empno!=''">
        and e.empno=#{empno}
      </if>
      <if test="id!=null and id!=''">
        and e.id=#{id}
      </if>
    </where>

  </select>
</mapper>