<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.mapper.SY_MenusMapper">
  <resultMap id="BaseResultMap" type="com.wl.model.SY_Menus">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="TEXT" jdbcType="VARCHAR" property="text" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="TIP" jdbcType="VARCHAR" property="tip" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PARENTID, TYPE, TEXT, URL, TIP
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BOS.SY_MENUS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from BOS.SY_MENUS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wl.model.SY_Menus">
    insert into BOS.SY_MENUS (ID, PARENTID, TYPE, 
      TEXT, URL, TIP)
    values (#{id,jdbcType=DECIMAL}, #{parentid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{text,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{tip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wl.model.SY_Menus">
    insert into BOS.SY_MENUS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="text != null">
        TEXT,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="tip != null">
        TIP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="tip != null">
        #{tip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.model.SY_Menus">
    update BOS.SY_MENUS
    <set>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        TEXT = #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="tip != null">
        TIP = #{tip,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.model.SY_Menus">
    update BOS.SY_MENUS
    set PARENTID = #{parentid,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      TEXT = #{text,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      TIP = #{tip,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>